* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.nav-container {
  position: absolute;
  width: 1200px;
  height: 125px;
  left: 0px;
  top: 0px;
  background-color: rgba(236, 236, 236, 0);
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: absolute;
}

nav h2 {
  position: absolute;
  width: 368.63px;
  height: 48.39px;
  left: 89px;
  top: 40px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
}

.nav-item li {
  position: flex;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: black;
  margin-right: 500px;
}

li .home {
  position: absolute;
  width: 91.63px;
  height: 29.04px;
  left: 685px;
  top: 31px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  transition: 300ms;
  text-decoration: none;
  color: black;
}

li .home:hover {
  transform: translateY(8px);
  color: grey;
}
li .profile {
  position: absolute;
  width: 93.74px;
  height: 29.04px;
  left: 795px;
  top: 31px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  transition: 300ms;
  text-decoration: none;
  color: black;
}

li .profile:hover {
  transform: translateY(8px);
  color: grey;
}
li .hobby {
  position: absolute;
  width: 89.52px;
  height: 28.07px;
  left: 895px;
  top: 31px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  color: black;
  transition: 300ms;
}

li .hobby:hover {
  transform: translateY(8px);
  color: grey;
}
li .experience {
  position: absolute;
  width: 104.27px;
  height: 28.07px;
  left: 995px;
  top: 31px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  transition: 300ms;
  text-decoration: none;
  color: black;
}

li .experience:hover {
  transform: translateY(8px);
  color: grey;
}
li .contact {
  position: absolute;
  width: 122.17px;
  height: 25.16px;
  left: 1145px;
  top: 31px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  transition: 300ms;
  text-decoration: none;
  color: black;
}

li .contact:hover {
  transform: translateY(8px);
  color: grey;
}
.nav-item li a {
  color: #021718;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.header-container {
  background: white;
  background-size: contain;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  position: absolute;
  width: 293px;
  height: 42px;
  left: 89px;
  top: 286px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: black;
}

header p {
  position: absolute;
  width: 743px;
  height: 139px;
  left: 89px;
  top: 328px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

header a {
  position: absolute;
  width: 205px;
  height: 58.46px;
  left: 139px;
  top: 430px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  background: #03ceb2;
  border-radius: 40px;
  text-decoration: none;
  padding-top: 10px;
  color: white;
  display: inline-block;
  transition: 300ms;
}

header a:hover {
  transform: translateY(-8px);
}

.home-image {
  margin-top: 100px;
  
}
.home-image img {
  width: 500px;
  height: 500px;
  margin-left: -350px;
  position: absolute;

}

.footer h4 {
  left: 500px;
  padding: 25px;
  position: absolute;
  top: 555px;
}
